.installed.cfg
.mr.developer.cfg
/bin/
/develop-eggs/
/downloads/
/eggs/
/extends/
/parts/
/var/
/dist/
/apps/
/etc/
*.DS_Store
*.egg-info
*.pyc
chromedriver.log
ghostdriver.log
.long-description.html
build/
xcuserdata/
src/behaving/tests/apps/android_test_app/bin
src/behaving/tests/apps/android_test_app/.*
src/behaving/tests/apps/android_test_app/gen
*.sublime-workspace