[buildout]

extensions =
    mr.developer

eggs = behaving

parts = behave
    test
    node
    appium-production
    iosApp
    androidApp
    supervisor
    supervisor-conf

show-picked-versions = true
develop = .

auto-checkout = appium

[env]
recipe = gocept.recipe.env

[sources]
appium = git https://github.com/appium/appium.git egg=false

[behave]
recipe = zc.recipe.egg
eggs = behaving
    behave
interpreter = tpy

[node]
recipe = gp.recipe.node

[appium-production]
recipe = gp.recipe.node
npms = appium

[appium-devel]
recipe = collective.recipe.cmd
on_install = true
on_update = false
cmds =
    cd ${buildout:directory}/src/appium
    ./reset.sh --ios --android --verbose
    cat <<EOF > ${buildout:directory}/bin/appium
        #!/bin/sh
        ${buildout:directory}/bin/node ${buildout:directory}/src/appium
    EOF
    chmod a+x ${buildout:directory}/bin/appium

[test]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    cat <<EOF > ${buildout:directory}/bin/test
        #!/bin/sh

        mkdir -p ${buildout:directory}/var/sms
        mkdir -p ${buildout:directory}/var/mail
        mkdir -p ${buildout:directory}/var/log

        ${buildout:bin-directory}/supervisord

        ${buildout:directory}/bin/behave "\$@" ${buildout:directory}/src/behaving/tests/features

    EOF
    chmod a+x ${buildout:directory}/bin/test

[iosApp]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    if [ $(command -v xcodebuild) ]
    then
        echo "Building iOS test app"
        cd ${buildout:directory}/src/behaving/tests/apps/ios_test_app
        xcodebuild -sdk iphonesimulator -arch i386 clean build
    else
        echo "xcodebuild not present, not building iOS test app"
    fi

[androidApp]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    if [ $ANDROID_HOME ]
    then
        echo "Building android test app"
        cd ${buildout:directory}/src/behaving/tests/apps/android_test_app
        ./gradlew build
    else
        echo "ANDROID_HOME not set, not building android test app"
    fi


[supervisor]
recipe = zc.recipe.egg
eggs = supervisor

[supervisor-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/supervisord.conf.in
output = ${buildout:directory}/etc/supervisord.conf
android_home = ${env:ANDROID_HOME}
android_virtual_device = Android_emulator
