version: "3"
networks:
  behaving:
    name: behaving

services:
  web:
    image: nginx
    container_name: web
    networks:
      - behaving
    ports:
      - 8080:80
      - 8081:443
    volumes:
      - ./tests/www:/usr/share/nginx/html
      - ./config/nginx.conf:/etc/nginx/templates/default.conf.template
      - ./config/ssl/web.pem:/etc/nginx/cert/web.pem
      - ./config/ssl/web-key.pem:/etc/nginx/cert/web-key.pem

  behaving:
    build: ./
    image: behaving.dev
    networks:
      - behaving
    user: behaving
    container_name: behaving
    stdin_open: true
    depends_on:
      - selenoid
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./var/log:/app/var/log
      - ./var/screenshots:/app/var/screenshots
      - ./var/mail:/app/var/mail
      - ./var/sms:/app/var/sms
      - ./var/gcm:/app/var/gcm
      - ./var/downloads:/app/var/downloads
      - ./var/reports:/app/reports

  firefox:
    image: selenoid/firefox:latest
    entrypoint: echo "Only here to make sure the image is available to selenoid"

  chrome:
    image: selenoid/chrome:latest
    entrypoint: echo "Only here to make sure the image is available to selenoid"

  selenoid:
    container_name: selenoid
    networks:
      - behaving
    build:
      args:
        - DOWNLOAD_VOLUME=$PWD/var/downloads
      context: config/selenoid
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./var/video:/opt/selenoid/video"
      - "./var/log:/opt/selenoid/logs"
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=./var/video

    command:
      [
        "-conf",
        "/etc/selenoid/browsers.json",
        "-video-output-dir",
        "/opt/selenoid/video",
        "-log-output-dir",
        "/opt/selenoid/logs",
        "-container-network",
        "behaving",
      ]
    ports:
      - "4444:4444"

  selenoid-ui:
    image: "aerokube/selenoid-ui"
    networks:
      - behaving
    ports:
      - "8082:8080"
    command: ["--selenoid-uri", "http://selenoid:4444"]
