name: Docker Compose Actions Workflow
on:
  push:
  workflow_call:

# Required for https://github.com/mikepenz/action-junit-report/issues/23
permissions:
    checks: write
    pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # need checkout before using compose-action
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Install requirements
        run: pip install flake8 pycodestyle

      - name: Check syntax
        run: flake8 .

      - name: Create folders
        run: |
          mkdir -p var/{log,screenshots,mail,sms,gcm,downloads}
          mkdir -p reports
          chmod -R a+rwX var
          chmod -R a+rwX reports

      - uses: isbang/compose-action@v2.4.3

      - name: Test
        run: |
          docker compose exec -T behaving behave --junit tests/features

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "reports/TESTS-*.xml"
        if: always()

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always() # always run even if the previous step fails
        with:
          report_paths: "**/TESTS-*.xml"
          comment: true
